extends layout

block contenido
    title=titulo
    .contenido-principal
        h1 #{titulo}

        h2 LISTA DE PROYECTOS
        ul#proyectos.proyectos
            if(proyectos.length)
                each proyecto in proyectos
                    li 
                        a(href=`${proyecto.url}`)=proyecto.nombre
                        
    