<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="/css/normalize.css", rel="stylesheet")
        link(href="/css/app.css", rel="stylesheet")
    body
        header.barra
            a(href="/") Home
            h1 UpTask - Administrador de proyectos 
            a(href="#") Cerrar Sesi칩n

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear.proyecto
                    a(href="/nuevo_proyecto" class="boton") New proyecto
                        span +

                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
                        li
                            a(href="#") Dise침o tienda virtual
                        li
                            a(href="#") Dise침o Nuevo blog
                        li
                            a(href="#") Dise침o logotipos
        
            block contenido