extends layout

block contenido
    title=titulo
    .contenido-principal
        h1 #{titulo}

        form.agregar-proyecto(action="/nuevo_proyecto" method="POST")
            .campo  
                label(for="nombre") Nombre Proyecto:
                input(type="text" id="nombre" name="nombre" placeholder="Introducir nombre proyecto")
            .campo.enviar
                input(type="submit" id="enviar" value= "agregar" name="enviar" class="boton")
    